body{
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

table{
    width: 100%;
    height: 100%;
}


p{
    padding:0 50px ;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    font-weight: 100;
}

main{
background-color: white;
height:620px ;
width: 400px;
border-radius:20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);


}

h4{
    color: black;
}
 

/********class tag********/


.ap{
    text-align: left;
    line-height: 5px;
    color:hsl(224, 23%, 55%) ;
   position: relative;
   bottom: 10px;
}

.bg{
     position: relative;
     bottom: 100px;


}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: hsl(245, 75%, 52%);
    padding: 12px 90px 12px 90px;
    text-decoration: none;
    position: relative;
    top: 40px;;
  }
  
  .btn:hover {
    background: #746bf1;
    text-decoration: none;
  }


.cancel{
    text-align: center;
    position:absolute;
    right: 155px;
    bottom: 20px;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.cancel:hover{
    color: black;
}


.ch{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
}

.ch:hover{
    color: #746bf1;
}

.girl{
    width: 100%;
    border-radius: 20px 20px 0 0;
 }

.music{
    position:absolute;
    left: 15px;
    top: 25px;
}

.plan{
    background-color:   hsl(225, 100%, 98%);
    width:330px ;
    height: 100px;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 15px;
    position: relative;
}

 